# The App

This is to check how portions of the app is working

In [1]:
import base64
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
from matplotlib.offsetbox import OffsetImage, AnnotationBbox
from scipy.stats import norm

2022-07-05 13:55:21.161 INFO    numexpr.utils: Note: NumExpr detected 24 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
2022-07-05 13:55:21.161 INFO    numexpr.utils: NumExpr defaulting to 8 threads.

In [ ]:

# load plyer data here... 
playerstats = pd.read_excel('2011-2021_advanced_player_data.xlsx')
playerstats = playerstats[1:]

In [ ]:
playerstats = playerstats.dropna()
playerstats = playerstats.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 1'])

In [14]:
#playerstats.to_excel('2011-2021_advanced_player_data.xlsx')

In [12]:
#Sidebar - Team selection
unique_team = playerstats['TEAM'].unique()
unique_team

array(['WAS', 'DAL', 'GSW', 'PHX', 'DET', 'NYK', 'IND', 'BKN', 'LAC',
       'TOR', 'CHA', 'MIA', 'ORL', 'UTA', 'HOU', 'MIN', 'NOP', 'MEM',
       'LAL', 'CHI', 'ATL', 'BOS', 'SAC', 'PHI', 'DEN', 'SAS', 'CLE',
       'MIL', 'POR', 'OKC', 'NOH', 'NJN'], dtype=object)

In [28]:
sizes = pd.read_excel('NBA Player Combine Measurements.xlsx', sheet_name='final_measurements')

In [ ]:
new_df = pd.merge(playerstats, sizes, on= 'PLAYER', how= 'left')
new_df

In [34]:
player_position = sizes['primary_position'][0]
player_position

'PF'

In [47]:
yearz = ['2021', '2020', '2019']
sizeAdvanced_df = pd.read_excel('player_adv_2011-2022_and_sizes.xlsx')
avg_height_df = sizeAdvanced_df.loc[sizeAdvanced_df['season'] >= 2018]
avg_height_df = avg_height_df.loc[avg_height_df['primary_position']== player_position]
avg_height_df = avg_height_df.dropna()
avg_height = avg_height_df['height_inches'].mean()

In [49]:
avg_height

80.31475409836068

In [55]:
selected_player = ['Anfernee Simons']

In [56]:
# load plyer data here... 
playerstats = pd.read_excel('2011-2021_advanced_player_data.xlsx')

#Sidebar - Team selection
unique_team = playerstats['TEAM'].unique()
unique_player = playerstats['PLAYER'].unique()
sorted_unique_team = sorted(unique_team)
sorted_unique_player = sorted(unique_player)

#selected_player = st.sidebar.multiselect('PLAYER', sorted_unique_player, sorted_unique_player[:1])
#selected_team = st.sidebar.multiselect('TEAM', sorted_unique_team, sorted_unique_team[:1])

# filtering data
df_selected_player = playerstats[(playerstats['PLAYER'].isin(selected_player))]

In [75]:
#Size Breakdown 
size_df = pd.read_excel('NBA Player Combine Measurements.xlsx', sheet_name='final_measurements')
player_size_df = size_df[(size_df['PLAYER'].isin(selected_player))]
player_size_df = player_size_df.reset_index()
player_size_df

,index,PLAYER,player_name,primary_position,height_inches,wingspan_inches,weight_lbs
0,176,Anfernee Simons,A. Simons,SG,74.25,81.25,183.2

In [76]:
player_position = player_size_df.at[0,'primary_position']

In [ ]:
sizeAdvanced_df = pd.read_excel('player_adv_2011-2022_and_sizes.xlsx')
recent_df = sizeAdvanced_df.loc[sizeAdvanced_df['season'] >= 2018]
recent_df = recent_df.loc[recent_df['primary_position']== player_position]
recent_df = recent_df.loc[recent_df['weight_lbs']!= '-']
recent_df = recent_df.dropna()
recent_df = recent_df.replace({'-','NaN'})
recent_df = recent_df.dropna()
recent_df

In [81]:
open_threes = pd.read_excel('3pt_Open.xlsx')
open_threes

,Unnamed: 0,Player,3pt_Open_FREQ,3pt_Open_3PM,3pt_Open_3PA,3pt_Open_3P%,season
0,2,Stephen Curry,0.191,1.4,3.3,41.7,2013
1,3,Carmelo Anthony,0.113,0.9,2.3,37.6,2013
2,4,LeBron James,0.112,0.6,1.9,29.9,2013
3,5,James Harden,0.218,1.1,3.4,32.5,2013
4,6,LaMarcus Aldridge,0.004,0.0,0.1,40,2013
...,...,...,...,...,...,...,...
4546,578,Miye Oni,0.222,0.1,0.1,50,2021
4547,579,Isaac Bonga,0.000,0.0,0.0,-,2021
4548,580,Bruno Fernando,0.000,0.0,0.0,-,2021
4549,581,Nick Richards,0.000,0.0,0.0,-,2021
4550,582,Tyler Cook,0.000,0.0,0.0,-,2021

In [82]:
open_threes = pd.read_excel('3pt_Open.xlsx')
open_threes = open_threes.replace({'-','NaN'})
open_threes = open_threes.dropna()
player_o3 =  open_threes[(open_threes['Player'].isin(selected_player))]

In [83]:
player_o3

,Unnamed: 0,Player,3pt_Open_FREQ,3pt_Open_3PM,3pt_Open_3PA,3pt_Open_3P%,season
2720,318,Anfernee Simons,0.190,0.2,0.6,33.3,2018
3072,156,Anfernee Simons,0.204,0.5,1.6,33,2019
3609,174,Anfernee Simons,0.327,0.9,2.0,42.7,2020
4005,37,Anfernee Simons,0.273,1.5,3.8,40.6,2021

In [87]:
career_avgs = player_o3.mean()
career_avgs

C:\Users\tmcro\AppData\Local\Temp/ipykernel_43800/1236659861.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  career_avgs = player_o3.mean()

Unnamed: 0        171.2500
3pt_Open_FREQ       0.2485
3pt_Open_3PM        0.7750
3pt_Open_3PA        2.0000
3pt_Open_3P%       37.4000
season           2019.5000
dtype: float64

In [86]:
career_avgs

Unnamed: 0        171.2500
3pt_Open_FREQ       0.2485
3pt_Open_3PM        0.7750
3pt_Open_3PA        2.0000
3pt_Open_3P%       37.4000
season           2019.5000
dtype: float64

In [94]:
ca = pd.DataFrame(career_avgs)
ca = ca.drop(['Unnamed: 0', 'season'], axis = 0)
ca

                     0
3pt_Open_FREQ   0.2485
3pt_Open_3PM    0.7750
3pt_Open_3PA    2.0000
3pt_Open_3P%   37.4000

In [95]:
ca2 = ca.transpose()
ca2

   3pt_Open_FREQ  3pt_Open_3PM  3pt_Open_3PA  3pt_Open_3P%
0         0.2485         0.775           2.0          37.4

In [ ]:
buncha_stats = pd.read_excel('merged_player_files.xlsx')

buncha_stats

In [105]:
sizes = pd.read_excel('NBA Player Combine Measurements.xlsx', sheet_name='final_measurements')

In [106]:
merged = pd.read_excel('merged_player_files.xlsx')

In [ ]:
new_df2 = pd.merge(merged, sizes, left_on= 'Player', right_on= 'PLAYER', how= 'left')
new_df2

In [111]:
new_df2 = new_df2.dropna()

In [112]:
new_df2.to_excel('merged_playerstats_and_sizes.xlsx')

## Plotting Player Pics

In [ ]:
playerdata = pd.read_csv('player_data.csv')
playerdata

In [114]:
keep = ['full_name', 'id']
playerdata = playerdata[keep]
playerdata

                full_name       id
0          Alaa Abdelnaby    76001
1         Zaid Abdul-Aziz    76002
2     Kareem Abdul-Jabbar    76003
3      Mahmoud Abdul-Rauf       51
4       Tariq Abdul-Wahad     1505
...                   ...      ...
4718           Ante Zizic  1627790
4719             Jim Zoet    78647
4720            Bill Zopf    78648
4721          Ivica Zubac  1627826
4722           Matt Zunic    78650

[4723 rows x 2 columns]

In [ ]:
lotta_stats = pd.read_excel('merged_playerstats_and_sizes.xlsx')
lotta_stats

In [ ]:
merged_with_photo = pd.merge(lotta_stats, playerdata, left_on= 'Player', right_on = 'full_name', how = 'left')
merged_with_photo

In [118]:
merged_with_photo = merged_with_photo.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', 'full_name'])

In [127]:
#merged_with_photo.to_excel('merged_v3_with_photos.xlsx')

In [125]:
merged_with_photo['path'] = 'player_photos/' + merged_with_photo['id'] + '.png'

In [ ]:
merged_with_photo

In [128]:
merged_with_photo['path']

0        player_photos/203939.png
1        player_photos/202692.png
2       player_photos/1627741.png
3        player_photos/201988.png
4        player_photos/201988.png
                  ...
2581     player_photos/203502.png
2582     player_photos/203183.png
2583     player_photos/203502.png
2584     player_photos/203183.png
2585     player_photos/203502.png
Name: path, Length: 2586, dtype: object

In [ ]:
pos_avg = pos_avg.loc[pos_avg['primary_position']== player_position]

In [129]:
buncha_stats = pd.read_excel('merged_v3_with_photos.xlsx')
selected_player = ['Anfernee Simons'] 
player_o3a =  buncha_stats[(buncha_stats['Player'].isin(selected_player))]
player_o3a

,Unnamed: 0,Player,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,...,2pt_2-4_2PA,2pt_2-4_FG%,PLAYER,player_name,primary_position,height_inches,wingspan_inches,weight_lbs,id,path
125,125,Anfernee Simons,POR,23,57,25,32,29.5,110.5,112.9,...,3.9,49.3,Anfernee Simons,A. Simons,SG,74.25,81.25,183.2,1629014,player_photos/1629014.png
339,339,Anfernee Simons,POR,22,64,37,27,17.3,115.2,114.4,...,1.1,38.4,Anfernee Simons,A. Simons,SG,74.25,81.25,183.2,1629014,player_photos/1629014.png
608,608,Anfernee Simons,POR,21,70,32,38,20.7,105.9,113.4,...,2.6,39.5,Anfernee Simons,A. Simons,SG,74.25,81.25,183.2,1629014,player_photos/1629014.png
1172,1172,Anfernee Simons,POR,20,20,17,3,7.0,104.5,122.1,...,0.7,64.3,Anfernee Simons,A. Simons,SG,74.25,81.25,183.2,1629014,player_photos/1629014.png

In [135]:
player_image = player_o3a.reset_index()
player_image = player_image.at[0,'path']
player_image

'player_photos/1629014.png'

In [ ]:
playerstats = pd.read_excel('2011-2021_advanced_player_data.xlsx')
playerstats

In [ ]:
ps_21 = playerstats.loc[playerstats['season']== 2021]
ps_21

In [143]:
folder = 'team_player_matchups'
path = 'C:\\Users\\tmcro\\OneDrive\\0_NBA_Statistitcs_2021\\NBA Current Studies\\Flatiron Phase 3 Project\\' + folder

p = os.listdir(path)
pf = pd.DataFrame(p)
# Get just the ones you want based on file names
pf_reg = pf.loc[pf[0].astype(str).str.contains('_') == False] # first filter
pf_reg

                                 0
0       ATL-vs-BKN-0021700038.xlsx
1       ATL-vs-BKN-0021700328.xlsx
2       ATL-vs-BKN-0021800436.xlsx
3      ATL-vs-BKN-0021800436_.xlsx
4       ATL-vs-BKN-0021800609.xlsx
...                            ...
10673  WAS-vs-UTA-0021900885_.xlsx
10674   WAS-vs-UTA-0022000820.xlsx
10675  WAS-vs-UTA-0022000820_.xlsx
10676   WAS-vs-UTA-0022100447.xlsx
10677  WAS-vs-UTA-0022100447_.xlsx

[10678 rows x 1 columns]

In [ ]:
playtypes = pd.read_excel('player_playtype_17-21.xlsx')
playtypes = playtypes.loc[playtypes['Season'] == '2021-22']
playtypes

In [ ]:
playtypes

In [ ]:
spup = playtypes.loc[playtypes['play'] == 'spot-up']
player_spup = spup[(spup['Player'].isin(selected_player))]
spup

In [ ]:
spup = playtypes.loc[playtypes['play'] == 'spot-up']
spup = spup.dropna(subset = ['PPP', 'Freq'])
spup

In [159]:
spup21 = spup.loc[spup['Season'] == '2021-22']
spup21

,Unnamed: 0,Player,Team,GP,Poss,Freq,PPP,PTS,FGM,FGA,...,FBPs,PITP,Opp PTSOFF TO,Opp2nd PTS,OppFBPs,OppPITP,BLK,BLKA,PF,PFD
12325,1,Keldon Johnson,SAS,75.0,6.2,0.386,1.15,7.1,2.5,5.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12326,2,Miles Bridges,CHA,80.0,5.7,0.301,1.04,5.9,2.1,5.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12327,3,Evan Fournier,NYK,80.0,4.9,0.355,1.18,5.8,2.1,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12328,4,Dorian Finney-Smith,DAL,80.0,5.3,0.520,1.08,5.7,2.0,4.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12329,5,Saddiq Bey,DET,82.0,5.3,0.325,1.01,5.3,1.7,4.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12811,487,Reggie Perry,POR,9.0,1.9,0.181,0.41,0.8,0.3,1.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12812,488,Solomon Hill,ATL,13.0,0.8,0.455,0.60,0.5,0.2,0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12813,489,Justin Robinson,DET,5.0,2.4,0.333,0.50,1.2,0.4,2.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12814,490,Paul Millsap,PHI,9.0,1.4,0.317,0.46,0.7,0.2,1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12815,491,Goran Dragic,TOR,5.0,2.0,0.250,0.30,0.6,0.2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [164]:
rollman = playtypes.loc[playtypes['play'] == 'roll-man']
player_rollman = rollman[(rollman['Player'].isin(selected_player))]

In [166]:
rollman

,Unnamed: 0,Player,Team,GP,Poss,Freq,PPP,PTS,FGM,FGA,...,FBPs,PITP,Opp PTSOFF TO,Opp2nd PTS,OppFBPs,OppPITP,BLK,BLKA,PF,PFD
10280,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10281,1,Nikola Vucevic,CHI,73.0,6.6,0.358,0.94,6.2,2.6,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10282,2,Joel Embiid,PHI,68.0,4.6,0.166,1.24,5.8,1.9,3.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10283,3,Nikola Jokic,DEN,74.0,4.0,0.169,1.07,4.3,1.8,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10284,4,Deandre Ayton,PHX,58.0,4.4,0.298,1.25,5.4,2.4,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10520,240,Duane Washington Jr.,IND,48.0,0.3,0.027,0.57,0.2,0.1,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10521,241,Klay Thompson,GSW,32.0,0.6,0.028,0.44,0.3,0.1,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10522,242,David Nwaba,HOU,46.0,0.2,0.048,0.64,0.2,0.0,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10523,243,DeAndre' Bembry,BKN,48.0,0.3,0.054,0.50,0.1,0.1,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10524,244,Paul Millsap,BKN,24.0,0.8,0.173,0.39,0.3,0.1,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [167]:
playerstats = pd.read_excel('2011-2021_advanced_player_data.xlsx')

#Sidebar - Team selection
unique_team = playerstats['TEAM'].unique()
ps_21 = playerstats.loc[playerstats['season']== 2021]
sorted_unique_team = sorted(unique_team)

unique_player = ps_21['PLAYER'].unique() # list of unique player names
sorted_unique_player = sorted(unique_player)

selected_team = st.sidebar.multiselect('TEAM', sorted_unique_team, sorted_unique_team[:1])


team_players = ps_21[ps_21['TEAM'].isin(selected_team)]
team_players1 = ps_21['PLAYER'].unique()
team_players2 = sorted(team_players1)
team_players2

['Aaron Gordon',
 'Aaron Henry',
 'Aaron Holiday',
 'Aaron Nesmith',
 'Aaron Wiggins',
 'Abdel Nader',
 'Ade Murkey',
 'Admiral Schofield',
 'Ahmad Caver',
 'Al Horford',
 'Alec Burks',
 'Aleem Ford',
 'Aleksej Pokusevski',
 'Alex Caruso',
 'Alex Len',
 'Alfonzo McKinnie',
 'Alize Johnson',
 'Alperen Sengun',
 'Amir Coffey',
 'Andre Drummond',
 'Andre Iguodala',
 'Andrew Wiggins',
 'Anfernee Simons',
 'Anthony Davis',
 'Anthony Edwards',
 'Anthony Gill',
 'Anthony Lamb',
 'Armoni Brooks',
 'Arnoldas Kulboka',
 'Austin Reaves',
 'Austin Rivers',
 'Avery Bradley',
 'Ayo Dosunmu',
 'BJ Johnson',
 'Bam Adebayo',
 'Ben McLemore',
 'Bismack Biyombo',
 'Blake Griffin',
 'Boban Marjanovic',
 'Bobby Portis',
 'Bogdan Bogdanovic',
 'Bojan Bogdanovic',
 'Bol Bol',
 'Bones Hyland',
 'Brad Wanamaker',
 'Bradley Beal',
 'Brandon Boston Jr.',
 'Brandon Clarke',
 'Brandon Goodwin',
 'Brandon Ingram',
 'Brandon Knight',
 'Brandon Williams',
 'Braxton Key',
 'Brodric Thomas',
 'Brook Lopez',
 'Bruce Brown',
 'Bruno Fernando',
 'Bryn Forbes',
 'Buddy Hield',
 'CJ Elleby',
 'CJ McCollum',
 'CJ Miles',
 'Cade Cunningham',
 'Caleb Martin',
 'Cam Reddish',
 'Cam Thomas',
 'Cameron Johnson',
 'Cameron McGriff',
 'Cameron Oliver',
 'Cameron Payne',
 'Caris LeVert',
 'Carlik Jones',
 'Carmelo Anthony',
 'Carsen Edwards',
 'Cassius Stanley',
 'Cassius Winston',
 'Cat Barber',
 'Cedi Osman',
 'Chandler Hutchison',
 'Charles Bassey',
 'Charlie Brown Jr.',
 'Chaundee Brown Jr.',
 'Cheick Diallo',
 'Chimezie Metu',
 'Chris Boucher',
 'Chris Chiozza',
 'Chris Duarte',
 'Chris Paul',
 'Chris Silva',
 'Christian Wood',
 'Chuma Okeke',
 'Clint Capela',
 'Coby White',
 'Cody Martin',
 'Cody Zeller',
 'Cole Anthony',
 'Collin Sexton',
 'Corey Kispert',
 'Cory Joseph',
 'Craig Sword',
 "D'Angelo Russell",
 'D.J. Augustin',
 'D.J. Wilson',
 'DaQuan Jeffries',
 'Daishen Nix',
 'Dakota Mathias',
 'Dalano Banton',
 'Damian Jones',
 'Damian Lillard',
 'Damion Lee',
 'Damyean Dotson',
 'Daniel Gafford',
 'Daniel Oturu',
 'Daniel Theis',
 'Danilo Gallinari',
 'Danny Green',
 'Danuel House Jr.',
 'Darius Bazley',
 'Darius Garland',
 'Darren Collison',
 'David Duke Jr.',
 'David Johnson',
 'David Nwaba',
 'Davion Mitchell',
 'Davis Bertans',
 'Davon Reed',
 "Day'Ron Sharpe",
 "De'Aaron Fox",
 "De'Andre Hunter",
 "De'Anthony Melton",
 'DeAndre Jordan',
 "DeAndre' Bembry",
 'DeJon Jarreau',
 'DeMar DeRozan',
 'DeMarcus Cousins',
 'Dean Wade',
 'Deandre Ayton',
 'Deividas Sirvydis',
 'Dejounte Murray',
 'Delon Wright',
 'Deni Avdija',
 'Dennis Schroder',
 'Dennis Smith Jr.',
 'Denzel Valentine',
 'Derrick Favors',
 'Derrick Jones Jr.',
 'Derrick Rose',
 'Derrick Walton Jr.',
 'Derrick White',
 'Desmond Bane',
 'Devin Booker',
 'Devin Cannady',
 'Devin Vassell',
 'Devon Dotson',
 'Devontae Cacok',
 "Devonte' Graham",
 'Dewayne Dedmon',
 'Didi Louzada',
 'Dillon Brooks',
 'Domantas Sabonis',
 'Donovan Mitchell',
 'Donte DiVincenzo',
 'Dorian Finney-Smith',
 'Doug McDermott',
 'Draymond Green',
 'Drew Eubanks',
 'Duane Washington Jr.',
 'Duncan Robinson',
 'Dwight Howard',
 'Dwight Powell',
 'Dylan Windler',
 'Ed Davis',
 'Elfrid Payton',
 'Elijah Hughes',
 'Emanuel Terry',
 'Emmanuel Mudiay',
 'Enes Freedom',
 'Eric Bledsoe',
 'Eric Gordon',
 'Eric Paschall',
 'Eugene Omoruyi',
 'Evan Fournier',
 'Evan Mobley',
 'Facundo Campazzo',
 'Feron Hunt',
 'Frank Jackson',
 'Frank Kaminsky',
 'Frank Ntilikina',
 'Franz Wagner',
 'Fred VanVleet',
 'Freddie Gillespie',
 'Furkan Korkmaz',
 'Gabe Vincent',
 'Gabe York',
 'Gabriel Deck',
 'Gabriel Lundberg',
 'Garrett Temple',
 'Garrison Mathews',
 'Gary Clark',
 'Gary Harris',
 'Gary Payton II',
 'Gary Trent Jr.',
 'George Hill',
 'George King',
 'Georges Niang',
 'Georgios Kalaitzakis',
 'Giannis Antetokounmpo',
 'Goga Bitadze',
 'Goran Dragic',
 'Gordon Hayward',
 'Gorgui Dieng',
 'Grant Williams',
 'Grayson Allen',
 'Greg Brown III',
 'Greg Monroe',
 'Hamidou Diallo',
 'Harrison Barnes',
 'Hassan Whiteside',
 'Hassani Gravett',
 'Haywood Highsmith',
 'Herbert Jones',
 'Ignas Brazdeikis',
 'Immanuel Quickley',
 'Isaac Bonga',
 'Isaac Okoro',
 'Isaiah Hartenstein',
 'Isaiah Jackson',
 'Isaiah Joe',
 'Isaiah Livers',
 'Isaiah Roby',
 'Isaiah Stewart',
 'Isaiah Thomas',
 'Isaiah Todd',
 'Ish Smith',
 'Ish Wainright',
 'Ivica Zubac',
 'JT Thor',
 'Ja Morant',
 'JaMychal Green',
 'JaQuori McLaughlin',
 'JaVale McGee',
 'Jabari Parker',
 'Jaden McDaniels',
 'Jaden Springer',
 'Jae Crowder',
 "Jae'Sean Tate",
 "Jahmi'us Ramsey",
 'Jaime Echenique',
 'Jake Layman',
 'Jakob Poeltl',
 'Jalen Brunson',
 'Jalen Green',
 'Jalen Johnson',
 'Jalen McDaniels',
 'Jalen Smith',
 'Jalen Suggs',
 'James Bouknight',
 'James Ennis III',
 'James Harden',
 'James Johnson',
 'Jamorko Pickett',
 'Jared Butler',
 'Jared Harper',
 'Jaren Jackson Jr.',
 'Jarred Vanderbilt',
 'Jarrett Allen',
 'Jarrett Culver',
 'Jarron Cumberland',
 'Javin DeLaurier',
 'Javonte Green',
 'Javonte Smart',
 'Jaxson Hayes',
 'Jay Huff',
 'Jay Scrubb',
 'Jaylen Brown',
 'Jaylen Hoard',
 'Jaylen Morris',
 'Jaylen Nowell',
 'Jaysean Paige',
 'Jayson Tatum',
 'Jeff Dowtin',
 'Jeff Green',
 'Jemerrio Jones',
 'Jerami Grant',
 'Jeremiah Robinson-Earl',
 'Jeremy Lamb',
 'Jericho Sims',
 'Jevon Carter',
 'Jimmy Butler',
 'Jock Landale',
 'Joe Harris',
 'Joe Ingles',
 'Joe Johnson',
 'Joe Wieskamp',
 'Joel Ayayi',
 'Joel Embiid',
 'John Collins',
 'John Konchar',
 'Jon Teske',
 'Jonas Valanciunas',
 'Jonathan Kuminga',
 'Jordan Bell',
 'Jordan Clarkson',
 'Jordan Goodwin',
 'Jordan McLaughlin',
 'Jordan Nwora',
 'Jordan Poole',
 'Jordan Schakel',
 'Jose Alvarado',
 'Josh Christopher',
 'Josh Giddey',
 'Josh Green',
 'Josh Hart',
 'Josh Jackson',
 'Josh Okogie',
 'Josh Richardson',
 'Joshua Primo',
 'Jrue Holiday',
 'Juan Toscano-Anderson',
 'Juancho Hernangomez',
 'Julius Randle',
 'Justin Anderson',
 'Justin Champagnie',
 'Justin Holiday',
 'Justin Jackson',
 'Justin Robinson',
 'Justise Winslow',
 'Jusuf Nurkic',
 'Juwan Morgan',
 'KZ Okpala',
 'Kai Jones',
 'Karl-Anthony Towns',
 'Keifer Sykes',
 'Keita Bates-Diop',
 'Kelan Martin',
 'Keldon Johnson',
 'Keljin Blevins',
 'Kelly Olynyk',
 'Kelly Oubre Jr.',
 'Kemba Walker',
 'Kenrich Williams',
 'Kent Bazemore',
 'Kentavious Caldwell-Pope',
 'Kenyon Martin Jr.',
 'Keon Johnson',
 'Kessler Edwards',
 'Kevin Durant',
 'Kevin Huerter',
 'Kevin Knox II',
 'Kevin Love',
 'Kevin Pangos',
 'Kevin Porter Jr.',
 'Kevon Looney',
 'Khem Birch',
 'Khris Middleton',
 'Killian Hayes',
 'Killian Tillie',
 'Kira Lewis Jr.',
 'Klay Thompson',
 'Kris Dunn',
 'Kristaps Porzingis',
 'Kyle Anderson',
 'Kyle Guy',
 'Kyle Kuzma',
 'Kyle Lowry',
 'Kyrie Irving',
 'LaMarcus Aldridge',
 'LaMelo Ball',
 'Lamar Stevens',
 'Lance Stephenson',
 'Landry Shamet',
 'Langston Galloway',
 'Larry Nance Jr.',
 'Lauri Markkanen',
 'LeBron James',
 'Leandro Bolmaro',
 'Lindell Wigginton',
 'Lindy Waters III',
 'Lonnie Walker IV',
 'Lonzo Ball',
 'Lou Williams',
 'Louis King',
 'Luguentz Dort',
 'Luka Doncic',
 'Luka Garza',
 'Luke Kennard',
 'Luke Kornet',
 'MJ Walker',
 'Mac McClung',
 'Malachi Flynn',
 'Malcolm Brogdon',
 'Malcolm Hill',
 'Malik Beasley',
 'Malik Fitts',
 'Malik Monk',
 'Malik Newman',
 'Mamadi Diakite',
 'Marcus Garrett',
 'Marcus Morris Sr.',
 'Marcus Smart',
 'Markelle Fultz',
 'Markieff Morris',
 'Marko Simonovic',
 'Markus Howard',
 'Marquese Chriss',
 'Marvin Bagley III',
 'Mason Jones',
 'Mason Plumlee',
 'Matisse Thybulle',
 'Matt Mooney',
 'Matt Ryan',
 'Matt Thomas',
 'Maurice Harkless',
 'Max Strus',
 'Maxi Kleber',
 'McKinley Wright IV',
 'Melvin Frazier Jr.',
 'Micah Potter',
 'Michael Porter Jr.',
 'Mikal Bridges',
 'Mike Conley',
 'Mike Muscala',
 'Miles Bridges',
 'Miles McBride',
 'Mitchell Robinson',
 'Miye Oni',
 'Mo Bamba',
 'Monte Morris',
 'Montrezl Harrell',
 'Moritz Wagner',
 'Moses Brown',
 'Moses Moody',
 'Moses Wright',
 'Mychal Mulder',
 'Myles Powell',
 'Myles Turner',
 'Naji Marshall',
 'Nassir Little',
 'Nate Hinton',
 'Nathan Knight',
 'Naz Reid',
 'Neemias Queta',
 'Nemanja Bjelica',
 'Nerlens Noel',
 'Nic Claxton',
 'Nick Richards',
 'Nickeil Alexander-Walker',
 'Nicolas Batum',
 'Nik Stauskas',
 'Nikola Jokic',
 'Nikola Vucevic',
 'Norman Powell',
 'Norvel Pelle',
 'OG Anunoby',
 'Obi Toppin',
 'Olivier Sarr',
 'Omer Yurtseven',
 'Onyeka Okongwu',
 'Oshae Brissett',
 'Otto Porter Jr.',
 'P.J. Dozier',
 'P.J. Tucker',
 'P.J. Washington',
 'Paris Bass',
 'Pascal Siakam',
 'Pat Connaughton',
 'Patrick Beverley',
 'Patrick Williams',
 'Patty Mills',
 'Paul George',
 'Paul Millsap',
 'Paul Reed',
 'Paul Watson',
 'Payton Pritchard',
 'Petr Cornelie',
 'Precious Achiuwa',
 'Quentin Grimes',
 'Quinndary Weatherspoon',
 'R.J. Hampton',
 'RJ Barrett',
 'RJ Nembhard Jr.',
 'Rajon Rondo',
 'Raul Neto',
 'Rayjon Tucker',
 'Reggie Bullock',
 'Reggie Jackson',
 'Reggie Perry',
 'Richaun Holmes',
 'Ricky Rubio',
 'Rob Edwards',
 'Robert Covington',
 'Robert Williams III',
 'Robert Woodard II',
 'Robin Lopez',
 'Rodney Hood',
 'Rodney McGruder',
 'Romeo Langford',
 "Royce O'Neale",
 'Rudy Gay',
 'Rudy Gobert',
 'Rui Hachimura',
 'Russell Westbrook',
 'Ryan Arcidiacono',
 'Saben Lee',
 'Saddiq Bey',
 'Sam Dekker',
 'Sam Hauser',
 'Sam Merrill',
 'Sandro Mamukelashvili',
 'Santi Aldama',
 'Scottie Barnes',
 'Scottie Lewis',
 'Scotty Hopson',
 'Sekou Doumbouya',
 'Semi Ojeleye',
 'Serge Ibaka',
 'Seth Curry',
 'Shai Gilgeous-Alexander',
 'Shake Milton',
 'Shaq Buchanan',
 'Shaquille Harrison',
 'Sharife Cooper',
 'Skylar Mays',
 'Solomon Hill',
 'Spencer Dinwiddie',
 'Stanley Johnson',
 'Stephen Curry',
 'Sterling Brown',
 'Steven Adams',
 'Svi Mykhailiuk',
 'T.J. McConnell',
 'Tacko Fall',
 'Taj Gibson',
 'Talen Horton-Tucker',
 'Taurean Prince',
 'Terance Mann',
 'Terence Davis',
 'Terrence Ross',
 'Terry Rozier',
 'Terry Taylor',
 'Thaddeus Young',
 'Thanasis Antetokounmpo',
 'Theo Maledon',
 'Theo Pinson',
 'Thomas Bryant',
 'Tim Frazier',
 'Tim Hardaway Jr.',
 'Timothe Luwawu-Cabarrot',
 'Tobias Harris',
 'Tomas Satoransky',
 'Tony Bradley',
 'Tony Snell',
 'Torrey Craig',
 'Trae Young',
 'Trayvon Palmer',
 'Tre Jones',
 'Tre Mann',
 'Tremont Waters',
 'Trendon Watford',
 'Trent Forrest',
 'Trevelin Queen',
 'Trevon Scott',
 'Trevor Ariza',
 'Trey Burke',
 'Trey Lyles',
 'Trey Murphy III',
 'Tristan Thompson',
 'Troy Brown Jr.',
 'Ty Jerome',
 'Tyler Cook',
 'Tyler Hall',
 'Tyler Herro',
 'Tyler Johnson',
 'Tyrell Terry',
 'Tyrese Haliburton',
 'Tyrese Maxey',
 'Tyrone Wallace',
 'Tyus Jones',
 'Udoka Azubuike',
 'Udonis Haslem',
 'Usman Garuba',
 'Vernon Carey Jr.',
 'Victor Oladipo',
 'Vit Krejci',
 'Vlatko Cancar',
 'Wayne Ellington',
 'Wayne Selden',
 'Wendell Carter Jr.',
 'Wenyen Gabriel',
 'Wes Iwundu',
 'Wesley Matthews',
 'Will Barton',
 'Willie Cauley-Stein',
 'Willy Hernangomez',
 'Xavier Moon',
 'Xavier Sneed',
 'Xavier Tillman',
 'Yuta Watanabe',
 'Yves Pons',
 'Zach Collins',
 'Zach LaVine',
 'Zavier Simpson',
 'Zeke Nnaji',
 'Ziaire Williams',
 'Zylan Cheatham']

In [168]:
buncha_stats = pd.read_excel('merged_v3_with_photos.xlsx')
player_o3a =  buncha_stats[(buncha_stats['Player'].isin(selected_player))]

# filtering data
df_selected_player = playerstats[(playerstats['PLAYER'].isin(selected_player))]
keepem = ['season','PLAYER', 'TEAM', 'AGE', 'GP', 'W', 'L', 'MIN', 'TS%', 'AST%', 'REB%', 'USG%', 'PACE']
df_selected_player = df_selected_player[keepem]

In [169]:
df_selected_player

,season,PLAYER,TEAM,AGE,GP,W,L,MIN,TS%,AST%,REB%,USG%,PACE
228,2021,Anfernee Simons,POR,23,57,25,32,29.5,58.3,21.9,4.4,24.4,98.43
694,2020,Anfernee Simons,POR,22,64,37,27,17.3,58.9,11.7,5.9,18.0,98.83
1173,2019,Anfernee Simons,POR,21,70,32,38,20.7,50.2,9.8,4.7,18.0,103.09
2094,2018,Anfernee Simons,POR,20,20,17,3,7.0,53.5,13.5,4.6,24.0,105.22

In [170]:
trad = pd.read_excel('0_2011-2022_traditional_player_data.xlsx')
adv = pd.read_excel('2011-2021_advanced_player_data.xlsx')

In [171]:
trad.head(3)

,Unnamed: 0,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,season
0,1,Kevin Durant,OKC,23,66,47,19,38.6,28.0,9.7,...,3.5,3.8,1.3,1.2,2.0,46.6,18,0,5.6,2011-12
1,2,Kobe Bryant,LAL,33,58,36,22,38.5,27.9,9.9,...,4.6,3.5,1.2,0.3,1.8,42.1,3,0,2.4,2011-12
2,3,LeBron James,MIA,27,62,45,17,37.5,27.1,10.0,...,6.2,3.4,1.9,0.8,1.5,50.6,23,0,7.6,2011-12

In [173]:
trad['season'] = trad['season'].str[:-3]
trad

,Unnamed: 0,PLAYER,TEAM,AGE,GP,W,L,MIN,PTS,FGM,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,season
0,1,Kevin Durant,OKC,23,66,47,19,38.6,28.0,9.7,...,3.5,3.8,1.3,1.2,2.0,46.6,18,0,5.6,2011
1,2,Kobe Bryant,LAL,33,58,36,22,38.5,27.9,9.9,...,4.6,3.5,1.2,0.3,1.8,42.1,3,0,2.4,2011
2,3,LeBron James,MIA,27,62,45,17,37.5,27.1,10.0,...,6.2,3.4,1.9,0.8,1.5,50.6,23,0,7.6,2011
3,4,Kevin Love,MIN,23,55,24,31,39.0,26.0,8.6,...,2.0,2.3,0.9,0.5,2.8,46.8,48,0,0.5,2011
4,5,Russell Westbrook,OKC,23,66,47,19,35.3,23.6,8.8,...,5.5,3.6,1.7,0.3,2.2,39.7,7,0,5.6,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5622,601,Nate Hinton,IND,23,2,0,2,1.2,0.0,0.0,...,0.0,0.5,0.0,0.0,0.0,-0.5,0,0,2.0,2021
5623,602,Sam Dekker,TOR,28,1,1,0,0.9,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,-5.0,2021
5624,603,Trayvon Palmer,DET,27,1,0,1,16.8,0.0,0.0,...,0.0,1.0,0.0,0.0,2.0,1.4,0,0,-12.0,2021
5625,604,Tyler Hall,NYK,25,1,1,0,1.9,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,-5.0,2021
5626,605,Zylan Cheatham,UTA,26,1,0,1,5.2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,-13.0,2021

In [180]:
trad['season'] = trad['season'].astype(np.int64)

In [172]:
adv.head(3)

,Unnamed: 0,PLAYER,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,...,DREB%,REB%,TO Ratio,eFG%,TS%,USG%,PACE,PIE,POSS,season
0,1,Deni Avdija,WAS,21,82,35,47,24.2,109.2,110.1,...,18.2,10.6,9.7,50.3,53.6,15.8,99.88,8.6,4118,2021
1,2,Dwight Powell,DAL,30,82,52,30,21.9,113.2,110.6,...,13.4,11.6,10.0,68.7,72.5,13.6,95.12,10.2,3556,2021
2,3,Kevon Looney,GSW,26,82,53,29,21.1,113.2,107.2,...,21.0,16.6,10.2,57.1,58.6,12.0,99.65,10.2,3574,2021

In [181]:
trad_and_advanced = pd.merge(trad, adv, on= ['PLAYER', 'season'], how = 'left')
trad_and_advanced

,Unnamed: 0_x,PLAYER,TEAM_x,AGE_x,GP_x,W_x,L_x,MIN_x,PTS,FGM,...,OREB%,DREB%,REB%,TO Ratio,eFG%,TS%,USG%,PACE,PIE,POSS
0,1,Kevin Durant,OKC,23,66,47,19,38.6,28.0,9.7,...,1.7,17.7,10.3,12.5,54.7,61.0,30.3,95.22,18.6,5054
1,2,Kobe Bryant,LAL,33,58,36,22,38.5,27.9,9.9,...,3.1,10.4,6.9,10.3,46.2,52.7,34.6,92.95,14.3,4332
2,3,LeBron James,MIA,27,62,45,17,37.5,27.1,10.0,...,4.4,17.1,11.1,10.7,55.4,60.5,31.1,93.41,22.0,4533
3,4,Kevin Love,MIN,23,55,24,31,39.0,26.0,8.6,...,10.2,23.6,16.8,8.5,49.7,56.8,28.2,94.93,17.6,4243
4,5,Russell Westbrook,OKC,23,66,47,19,35.3,23.6,8.8,...,4.4,8.2,6.4,11.6,48.1,53.8,31.8,95.43,14.5,4642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5626,601,Nate Hinton,IND,23,2,0,2,1.2,0.0,0.0,...,0.0,0.0,0.0,50.0,0.0,0.0,25.0,128.57,-22.2,6
5627,602,Sam Dekker,TOR,28,1,1,0,0.9,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,105.88,0.0,2
5628,603,Trayvon Palmer,DET,27,1,0,1,16.8,0.0,0.0,...,0.0,13.3,6.5,50.0,0.0,0.0,5.3,95.87,-3.7,33
5629,604,Tyler Hall,NYK,25,1,1,0,1.9,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,124.14,0.0,5
5630,605,Zylan Cheatham,UTA,26,1,0,1,5.2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,25.0,106.50,-16.7,11

In [182]:
trad_and_advanced.columns

Index(['Unnamed: 0_x', 'PLAYER', 'TEAM_x', 'AGE_x', 'GP_x', 'W_x', 'L_x',
       'MIN_x', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA',
       'FT%', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', 'FP',
       'DD2', 'TD3', '+/-', 'season', 'Unnamed: 0_y', 'TEAM_y', 'AGE_y',
       'GP_y', 'W_y', 'L_y', 'MIN_y', 'OFFRTG', 'DEFRTG', 'NETRTG', 'AST%',
       'AST/TO', 'AST Ratio', 'OREB%', 'DREB%', 'REB%', 'TO Ratio', 'eFG%',
       'TS%', 'USG%', 'PACE', 'PIE', 'POSS'],
      dtype='object')

In [183]:
trad_and_advanced = trad_and_advanced.drop(columns = ['Unnamed: 0_y', 'TEAM_y', 'AGE_y',
                                                        'GP_y', 'W_y', 'L_y', 'MIN_y',
                                                        'Unnamed: 0_x'])
                                                    
trad_and_advanced

,PLAYER,TEAM_x,AGE_x,GP_x,W_x,L_x,MIN_x,PTS,FGM,FGA,...,OREB%,DREB%,REB%,TO Ratio,eFG%,TS%,USG%,PACE,PIE,POSS
0,Kevin Durant,OKC,23,66,47,19,38.6,28.0,9.7,19.7,...,1.7,17.7,10.3,12.5,54.7,61.0,30.3,95.22,18.6,5054
1,Kobe Bryant,LAL,33,58,36,22,38.5,27.9,9.9,23.0,...,3.1,10.4,6.9,10.3,46.2,52.7,34.6,92.95,14.3,4332
2,LeBron James,MIA,27,62,45,17,37.5,27.1,10.0,18.9,...,4.4,17.1,11.1,10.7,55.4,60.5,31.1,93.41,22.0,4533
3,Kevin Love,MIN,23,55,24,31,39.0,26.0,8.6,19.3,...,10.2,23.6,16.8,8.5,49.7,56.8,28.2,94.93,17.6,4243
4,Russell Westbrook,OKC,23,66,47,19,35.3,23.6,8.8,19.2,...,4.4,8.2,6.4,11.6,48.1,53.8,31.8,95.43,14.5,4642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5626,Nate Hinton,IND,23,2,0,2,1.2,0.0,0.0,0.5,...,0.0,0.0,0.0,50.0,0.0,0.0,25.0,128.57,-22.2,6
5627,Sam Dekker,TOR,28,1,1,0,0.9,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,105.88,0.0,2
5628,Trayvon Palmer,DET,27,1,0,1,16.8,0.0,0.0,1.0,...,0.0,13.3,6.5,50.0,0.0,0.0,5.3,95.87,-3.7,33
5629,Tyler Hall,NYK,25,1,1,0,1.9,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,124.14,0.0,5
5630,Zylan Cheatham,UTA,26,1,0,1,5.2,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,25.0,106.50,-16.7,11

In [184]:
trad_and_advanced = trad_and_advanced.rename(columns = {'TEAM_x': 'Team', 'AGE_x' : 'Age', 'MIN_X' : 'Min'})
trad_and_advanced

,PLAYER,Team,Age,GP_x,W_x,L_x,MIN_x,PTS,FGM,FGA,...,OREB%,DREB%,REB%,TO Ratio,eFG%,TS%,USG%,PACE,PIE,POSS
0,Kevin Durant,OKC,23,66,47,19,38.6,28.0,9.7,19.7,...,1.7,17.7,10.3,12.5,54.7,61.0,30.3,95.22,18.6,5054
1,Kobe Bryant,LAL,33,58,36,22,38.5,27.9,9.9,23.0,...,3.1,10.4,6.9,10.3,46.2,52.7,34.6,92.95,14.3,4332
2,LeBron James,MIA,27,62,45,17,37.5,27.1,10.0,18.9,...,4.4,17.1,11.1,10.7,55.4,60.5,31.1,93.41,22.0,4533
3,Kevin Love,MIN,23,55,24,31,39.0,26.0,8.6,19.3,...,10.2,23.6,16.8,8.5,49.7,56.8,28.2,94.93,17.6,4243
4,Russell Westbrook,OKC,23,66,47,19,35.3,23.6,8.8,19.2,...,4.4,8.2,6.4,11.6,48.1,53.8,31.8,95.43,14.5,4642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5626,Nate Hinton,IND,23,2,0,2,1.2,0.0,0.0,0.5,...,0.0,0.0,0.0,50.0,0.0,0.0,25.0,128.57,-22.2,6
5627,Sam Dekker,TOR,28,1,1,0,0.9,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,105.88,0.0,2
5628,Trayvon Palmer,DET,27,1,0,1,16.8,0.0,0.0,1.0,...,0.0,13.3,6.5,50.0,0.0,0.0,5.3,95.87,-3.7,33
5629,Tyler Hall,NYK,25,1,1,0,1.9,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,124.14,0.0,5
5630,Zylan Cheatham,UTA,26,1,0,1,5.2,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,25.0,106.50,-16.7,11

In [185]:
trad_and_advanced.to_excel('2011-2021_trad_and_advanced_playerstats.xlsx')

In [186]:
trad_and_advanced.columns

Index(['PLAYER', 'Team', 'Age', 'GP_x', 'W_x', 'L_x', 'MIN_x', 'PTS', 'FGM',
       'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB',
       'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', 'FP', 'DD2', 'TD3', '+/-',
       'season', 'OFFRTG', 'DEFRTG', 'NETRTG', 'AST%', 'AST/TO', 'AST Ratio',
       'OREB%', 'DREB%', 'REB%', 'TO Ratio', 'eFG%', 'TS%', 'USG%', 'PACE',
       'PIE', 'POSS'],
      dtype='object')

In [187]:
trad_and_advanced = trad_and_advanced.rename(columns = {'GP_x': 'GP', 'W_x' : 'W', 'L_x' : 'L', 'MIN_x' : 'Min'})
trad_and_advanced

,PLAYER,Team,Age,GP,W,L,Min,PTS,FGM,FGA,...,OREB%,DREB%,REB%,TO Ratio,eFG%,TS%,USG%,PACE,PIE,POSS
0,Kevin Durant,OKC,23,66,47,19,38.6,28.0,9.7,19.7,...,1.7,17.7,10.3,12.5,54.7,61.0,30.3,95.22,18.6,5054
1,Kobe Bryant,LAL,33,58,36,22,38.5,27.9,9.9,23.0,...,3.1,10.4,6.9,10.3,46.2,52.7,34.6,92.95,14.3,4332
2,LeBron James,MIA,27,62,45,17,37.5,27.1,10.0,18.9,...,4.4,17.1,11.1,10.7,55.4,60.5,31.1,93.41,22.0,4533
3,Kevin Love,MIN,23,55,24,31,39.0,26.0,8.6,19.3,...,10.2,23.6,16.8,8.5,49.7,56.8,28.2,94.93,17.6,4243
4,Russell Westbrook,OKC,23,66,47,19,35.3,23.6,8.8,19.2,...,4.4,8.2,6.4,11.6,48.1,53.8,31.8,95.43,14.5,4642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5626,Nate Hinton,IND,23,2,0,2,1.2,0.0,0.0,0.5,...,0.0,0.0,0.0,50.0,0.0,0.0,25.0,128.57,-22.2,6
5627,Sam Dekker,TOR,28,1,1,0,0.9,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,105.88,0.0,2
5628,Trayvon Palmer,DET,27,1,0,1,16.8,0.0,0.0,1.0,...,0.0,13.3,6.5,50.0,0.0,0.0,5.3,95.87,-3.7,33
5629,Tyler Hall,NYK,25,1,1,0,1.9,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,124.14,0.0,5
5630,Zylan Cheatham,UTA,26,1,0,1,5.2,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,25.0,106.50,-16.7,11

In [188]:
trad_and_advanced.to_excel('2011-2021_trad_and_advanced_playerstats.xlsx')

In [194]:
lotta_stats = pd.read_excel('data/merged_v3_with_photos.xlsx')
pos_avg = lotta_stats.loc[lotta_stats['season'] >= 2021]
pos_avg = lotta_stats.loc[lotta_stats['MIN'] >= 15]
pos_avg = pos_avg.loc[pos_avg['primary_position']== player_position]
tokeep = ['Player', 'TEAM', 'tot_Open_3PM', 'tot_Open_3PA', 'Total_Open_3P%']
pos_avg = pos_avg[tokeep]
pos_avg2 = pos_avg.mean()

pa2 = pd.DataFrame(pos_avg2)
pa2 = pa2.transpose()

pa2 = pa2.reset_index()
pos_avg_3pt_pct = pa2.at[0,'Total_Open_3P%'] 

# Get Stds
pos_stdev = pos_avg.std()
pos_df = pd.DataFrame(pos_stdev)
pos_df = pos_df.transpose()
pos_df = pos_df.reset_index()
pos_std_3pt_pct = pos_df.at[0, 'Total_Open_3P%']
up_std = pos_avg_3pt_pct + pos_std_3pt_pct
up_std

C:\Users\tmcro\AppData\Local\Temp/ipykernel_43800/2570040425.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pos_avg2 = pos_avg.mean()
C:\Users\tmcro\AppData\Local\Temp/ipykernel_43800/2570040425.py:16: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pos_stdev = pos_avg.std()

0.42932930549646103

In [2]:
lotta_stats = pd.read_excel('data/merged_v3_with_photos.xlsx')
contested_shooting = lotta_stats.loc[lotta_stats['season'] >= 2021]             #Filter

In [3]:
contested_shooting

,Unnamed: 0,Player,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,...,2pt_2-4_2PA,2pt_2-4_FG%,PLAYER,player_name,primary_position,height_inches,wingspan_inches,weight_lbs,id,path
0,0,Dwight Powell,DAL,30,82,52,30,21.9,113.2,110.6,...,3.0,70.7,Dwight Powell,D. Powell,PF,81.50,84.50,234.4,203939,player_photos/203939.png
1,1,Alec Burks,NYK,30,81,37,44,28.6,110.3,108.1,...,2.5,36.5,Alec Burks,A. Burks,SG,77.00,82.00,192.6,202692,player_photos/202692.png
2,2,Buddy Hield,IND,29,81,26,55,30.8,111.4,115.1,...,2.4,46.9,Buddy Hield,B. Hield,SG,75.75,81.25,212.4,1627741,player_photos/1627741.png
3,3,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,...,1.0,43.4,Patty Mills,P. Mills,PG,71.20,74.00,175.4,201988,player_photos/201988.png
4,4,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,...,1.0,43.4,Patty Mills,P. Mills,PG,71.20,74.00,175.4,201988,player_photos/201988.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,277,Darren Collison,LAL,34,3,1,2,12.4,98.9,117.2,...,0.7,50,Darren Collison,D. Collison,PG,72.25,75.00,166.2,201954,player_photos/201954.png
278,278,Derrick Walton Jr.,DET,27,3,1,2,36.1,103.5,103.0,...,2.3,0,Derrick Walton Jr.,D. Walton Jr.,PG,71.00,74.50,188.6,1628476,player_photos/1628476.png
279,279,Tremont Waters,WAS,24,3,0,3,16.8,105.4,122.5,...,0.7,50,Tremont Waters,T. Waters,PG,69.50,74.25,172.4,1629682,player_photos/1629682.png
280,280,Wayne Selden,NYK,27,3,2,1,6.4,80.5,115.0,...,0.3,0,Wayne Selden,W. Selden,SG,76.25,82.50,232.4,1627782,player_photos/1627782.png
281,281,Cameron Oliver,ATL,25,2,1,1,21.7,122.5,123.3,...,3.0,66.7,Cameron Oliver,C. Oliver,PF,79.00,85.25,238.6,1628419,player_photos/1628419.png

In [5]:
player_passing = pd.read_excel('data/tracking/0_2013-2022_passing_player_data.xlsx')
list(player_passing.columns)

['Unnamed: 0',
 'Unnamed: 0.1',
 'Player',
 'Team',
 'GP',
 'W',
 'L',
 'MIN',
 'PassesMade',
 'PassesReceived',
 'AST',
 'SecondaryAST',
 'PotentialAST',
 'AST\xa0PTSCreated',
 'AST\xa0PTSCreated.1',
 'ASTAdj',
 'AST\xa0ToPass%',
 'AST\xa0ToPass%\xa0Adj',
 'season']

In [35]:
data = pd.read_excel('data/player_adv_2011-2022_and_sizes.xlsx')
data

,Unnamed: 0,PLAYER,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,...,USG%,PACE,PIE,POSS,season,player_name,primary_position,height_inches,wingspan_inches,weight_lbs
0,0,Deni Avdija,WAS,21,82,35,47,24.2,109.2,110.1,...,15.8,99.88,8.6,"4,118",2021,NaN,NaN,NaN,NaN,NaN
1,1,Dwight Powell,DAL,30,82,52,30,21.9,113.2,110.6,...,13.6,95.12,10.2,"3,556",2021,D. Powell,PF,81.5,84.5,234.4
2,2,Kevon Looney,GSW,26,82,53,29,21.1,113.2,107.2,...,12.0,99.65,10.2,"3,574",2021,K. Looney,PF,80.0,87.5,222.4
3,3,Mikal Bridges,PHX,25,82,64,18,34.8,116.7,106.9,...,14.9,100.59,9.1,"5,976",2021,NaN,NaN,NaN,NaN,NaN
4,4,Saddiq Bey,DET,23,82,23,59,33.0,104.7,114.0,...,20.9,99.32,10.0,"5,605",2021,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6162,6162,Derrick Byars,SAS,28,2,2,0,18.4,97.3,106.6,...,13.4,98.31,7.8,75,2011,NaN,NaN,NaN,NaN,NaN
6163,6163,Earl Barron,GSW,30,2,1,1,4.4,88.9,100.0,...,20.0,99.12,-16.7,18,2011,NaN,NaN,NaN,NaN,NaN
6164,6164,Ike Diogu,SAS,28,2,1,1,7.1,139.3,100.0,...,12.5,94.65,-1.4,28,2011,I. Diogu,PF,78.5,87.5,255.4
6165,6165,Xavier Silas,PHI,24,2,1,1,19.4,83.8,101.3,...,20.7,92.40,-2.4,74,2011,NaN,NaN,NaN,NaN,NaN
6166,6166,Brian Skinner,MEM,36,1,0,1,4.4,66.7,144.4,...,10.0,98.93,-18.2,9,2011,NaN,NaN,NaN,NaN,NaN

In [36]:
data.columns

Index(['Unnamed: 0', 'PLAYER', 'TEAM', 'AGE', 'GP', 'W', 'L', 'MIN', 'OFFRTG',
       'DEFRTG', 'NETRTG', 'AST%', 'AST/TO', 'AST Ratio', 'OREB%', 'DREB%',
       'REB%', 'TO Ratio', 'eFG%', 'TS%', 'USG%', 'PACE', 'PIE', 'POSS',
       'season', 'player_name', 'primary_position', 'height_inches',
       'wingspan_inches', 'weight_lbs'],
      dtype='object')

In [37]:
keepcols = ['PLAYER', 'player_name', 'primary_position', 'height_inches',
       'wingspan_inches']
player_positions = data[keepcols]
player_positions

,PLAYER,player_name,primary_position,height_inches,wingspan_inches
0,Deni Avdija,NaN,NaN,NaN,NaN
1,Dwight Powell,D. Powell,PF,81.5,84.5
2,Kevon Looney,K. Looney,PF,80.0,87.5
3,Mikal Bridges,NaN,NaN,NaN,NaN
4,Saddiq Bey,NaN,NaN,NaN,NaN
...,...,...,...,...,...
6162,Derrick Byars,NaN,NaN,NaN,NaN
6163,Earl Barron,NaN,NaN,NaN,NaN
6164,Ike Diogu,I. Diogu,PF,78.5,87.5
6165,Xavier Silas,NaN,NaN,NaN,NaN
6166,Brian Skinner,NaN,NaN,NaN,NaN

In [15]:
#player_positions.to_excel('data/player_positions_and_size.xlsx')

In [67]:
folder = 'data\\tracking'
path = folder

p = os.listdir(path)
pf = pd.DataFrame(p)

# Get just the ones you want based on file names
#pf_reg = pf.loc[pf[0].astype(str).str.contains('3pt')] # first filter

In [70]:
pf = pf[[0]]
pf

0    0_2013-2022_catch-shoot_player_data copy.xlsx
Name: 0, dtype: object

In [71]:
folder = 'data/tracking/'

for p in pf[[0]]:
    data = pd.read_excel(folder + p)
    data = pd.DataFrame(data)
    newdata = pd.merge(data, player_positions, left_on= 'Player', right_on= 'PLAYER', how = 'left')
    newdata = newdata.drop_duplicates()
    newdata.to_excel('data/tracking/withPos_' + str(p))

In [45]:
selected_player = ['Anfernee Simons']

In [72]:
catchshoot = pd.read_excel('data/tracking/withPos_0_2013-2022_catch-shoot_player_data copy.xlsx')
chosen_player_catchshoot = catchshoot[catchshoot['Player'].isin(selected_player)]
chosen_player_catchshoot_21 = catchshoot.loc[catchshoot['season'] == 2021]
pos_avg_catchshoot = catchshoot.loc[catchshoot['season'] == 2021]
keep= ['Player', '3P%','eFG%', 'season']
chosen_player_career_catchshoot = chosen_player_catchshoot[keep]
chosen_player_career_catchshoot = chosen_player_career_catchshoot.set_index('season')

In [73]:
chosen_player_career_catchshoot

                 Player   3P%  eFG%
season
2018    Anfernee Simons  27.8  41.7
2019    Anfernee Simons  33.6  49.7
2020    Anfernee Simons  51.4  77.1
2021    Anfernee Simons  47.8  71.5

In [77]:
catchshoot = pd.read_excel('data/tracking/withPos_0_2013-2022_catch-shoot_player_data copy.xlsx')
chosen_player_catchshoot = catchshoot[catchshoot['Player'].isin(selected_player)]
chosen_player_catchshoot_21 = catchshoot.loc[catchshoot['season'] == 2021]
pos_avg_catchshoot = catchshoot.loc[catchshoot['season'] == 2021]
keep= ['season','Player', '3P%','eFG%']
chosen_player_career_catchshoot = chosen_player_catchshoot[keep]
chosen_player_career_catchshoot = chosen_player_career_catchshoot.sort_values('season', ascending = False)
chosen_player_career_catchshoot = chosen_player_career_catchshoot.set_index('season')
keep= ['Player', '3P%','eFG%']
pos_avg_catchshoot = pos_avg_catchshoot[keep]
pos_avg_catchshoot

               Player   3P%  eFG%
4120     Aaron Gordon  36.0  53.2
4121      Aaron Henry     -     -
4122    Aaron Holiday  35.1  52.0
4123    Aaron Nesmith  28.6  42.7
4124    Aaron Wiggins  31.0  46.4
...               ...   ...   ...
4733      Zach LaVine  46.0  67.1
4734   Zavier Simpson  25.0  37.5
4735       Zeke Nnaji  46.3  66.1
4736  Ziaire Williams  31.8  49.3
4737   Zylan Cheatham   0.0   0.0

[618 rows x 3 columns]

In [80]:
catchshoot['3P%'] = catchshoot['3P%'].replace({'-': 'NaN'})
catchshoot['eFG%'] = catchshoot['eFG%'].replace({'-': 'NaN'})

In [81]:
pos_avg_catchshoot = pos_avg_catchshoot.dropna()

In [76]:
pos_avg_catchshoot.dtypes

Player    object
3P%       object
eFG%      object
dtype: object

In [82]:
catchshoot = pd.read_excel('data/tracking/withPos_0_2013-2022_catch-shoot_player_data.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'data/tracking/withPos_0_2013-2022_catch-shoot_player_data.xlsx'

In [60]:
catchshoot['3P%'] = catchshoot['3P%'].replace({'-': 'NaN'},inplace=True)
catchshoot['eFG%'] =catchshoot['eFG%'].replace({'-': 'NaN'},inplace=True)

In [61]:
catchshoot['3P%'] = catchshoot['3P%'].astype(np.float64)
catchshoot['eFG%'] = catchshoot['eFG%'].astype(np.float64)

In [64]:
catchshoot = catchshoot.dropna(subset = ['3P%', 'eFG%'])

In [66]:
catchshoot

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, Unnamed: 0.1.1.1, Player, Team, GP, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, eFG%, season, PLAYER, player_name, primary_position, height_inches, wingspan_inches]
Index: []

[0 rows x 22 columns]

In [65]:
catchshoot.to_excel('data/tracking/withPos_0_2013-2022_catch-shoot_player_data.xlsx')

In [58]:
catchshoot

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, Player, Team, GP, MIN, PTS, FGM, FGA, FG%, 3PM, 3PA, 3P%, eFG%, season, PLAYER, player_name, primary_position, height_inches, wingspan_inches]
Index: []

[0 rows x 21 columns]

In [91]:
catchshoot = pd.read_excel('data/tracking/withPos_0_2013-2022_catch-shoot_player_data copy.xlsx')
chosen_player_catchshoot = catchshoot[catchshoot['Player'].isin(selected_player)]
chosen_player_catchshoot_21 = catchshoot.loc[catchshoot['season'] == 2021]
pos_avg_catchshoot = catchshoot.loc[catchshoot['season'] == 2021]

In [92]:
pos_avg_catchshoot

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Player,Team,GP,MIN,PTS,FGM,FGA,...,3PM,3PA,3P%,eFG%,season,PLAYER,player_name,primary_position,height_inches,wingspan_inches
4120,28883,1,1,Aaron Gordon,DEN,75,31.7,3.1,1.1,2.9,...,0.9,2.6,36.0,53.2,2021,Aaron Gordon,A. Gordon,PF,79.50,83.70
4121,28891,2,2,Aaron Henry,PHI,6,2.8,0.0,0.0,0.0,...,0.0,0.0,-,-,2021,Aaron Henry,NaN,NaN,NaN,NaN
4122,28892,3,3,Aaron Holiday,PHX,63,16.2,1.2,0.4,1.2,...,0.4,1.2,35.1,52.0,2021,Aaron Holiday,A. Holiday,PG,71.70,79.50
4123,28896,4,4,Aaron Nesmith,BOS,52,11.0,1.7,0.6,2.0,...,0.5,1.9,28.6,42.7,2021,Aaron Nesmith,NaN,NaN,NaN,NaN
4124,28898,5,5,Aaron Wiggins,OKC,50,24.2,2.3,0.8,2.5,...,0.8,2.5,31.0,46.4,2021,Aaron Wiggins,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4733,31961,601,601,Zach LaVine,CHI,67,34.7,3.7,1.3,2.8,...,1.2,2.6,46.0,67.1,2021,Zach LaVine,Z. LaVine,PG,76.50,80.25
4734,31969,602,602,Zavier Simpson,OKC,4,43.5,0.8,0.3,1.0,...,0.3,1.0,25.0,37.5,2021,Zavier Simpson,NaN,NaN,NaN,NaN
4735,31970,603,603,Zeke Nnaji,DEN,41,17.0,2.9,1.0,2.2,...,0.9,2.0,46.3,66.1,2021,Zeke Nnaji,Z. Nnaji,PF,81.25,86.00
4736,31972,604,604,Ziaire Williams,MEM,62,21.7,3.5,1.2,3.5,...,1.1,3.4,31.8,49.3,2021,Ziaire Williams,NaN,NaN,NaN,NaN
4737,31973,605,605,Zylan Cheatham,UTA,1,5.2,0.0,0.0,2.0,...,0.0,2.0,0.0,0.0,2021,Zylan Cheatham,NaN,NaN,NaN,NaN

In [93]:
keep= ['Player', '3P%','eFG%']
pos_avg_catchshoot = pos_avg_catchshoot[keep]
pos_avg_catchshoot = pos_avg_catchshoot.dropna()

In [94]:
pos_avg_catchshoot

               Player   3P%  eFG%
4120     Aaron Gordon  36.0  53.2
4121      Aaron Henry     -     -
4122    Aaron Holiday  35.1  52.0
4123    Aaron Nesmith  28.6  42.7
4124    Aaron Wiggins  31.0  46.4
...               ...   ...   ...
4733      Zach LaVine  46.0  67.1
4734   Zavier Simpson  25.0  37.5
4735       Zeke Nnaji  46.3  66.1
4736  Ziaire Williams  31.8  49.3
4737   Zylan Cheatham   0.0   0.0

[618 rows x 3 columns]

In [95]:
catchshoot.drop(catchshoot.index[catchshoot['3P%'] == '-'], inplace = True)
catchshoot.drop(catchshoot.index[catchshoot['eFG%'] == '-'], inplace = True)

In [99]:
catchshoot.dtypes

Unnamed: 0            int64
Unnamed: 0.1          int64
Unnamed: 0.1.1        int64
Player               object
Team                 object
GP                    int64
MIN                 float64
PTS                 float64
FGM                 float64
FGA                 float64
FG%                  object
3PM                  object
3PA                  object
3P%                  object
eFG%                 object
season                int64
PLAYER               object
player_name          object
primary_position     object
height_inches       float64
wingspan_inches     float64
dtype: object

In [104]:
catchshoot = pd.read_excel('data/tracking/withPos_0_2013-2022_catch-shoot_player_data copy.xlsx')
catchshoot = catchshoot.drop(catchshoot.index[catchshoot['3P%'] == '-'])
catchshoot = catchshoot.drop(catchshoot.index[catchshoot['eFG%'] == '-'])
catchshoot['3P%'] = catchshoot['3P%'].astype(np.float64)
catchshoot['eFG%'] = catchshoot['eFG%'].astype(np.float64)

In [106]:
catchshoot.dtypes

Unnamed: 0            int64
Unnamed: 0.1          int64
Unnamed: 0.1.1        int64
Player               object
Team                 object
GP                    int64
MIN                 float64
PTS                 float64
FGM                 float64
FGA                 float64
FG%                  object
3PM                  object
3PA                  object
3P%                 float64
eFG%                float64
season                int64
PLAYER               object
player_name          object
primary_position     object
height_inches       float64
wingspan_inches     float64
dtype: object

In [108]:
catchshoot.to_excel('data\\tracking\\0_2013-2022_catch-shoot_player_data copy.xlsx')

In [114]:
catchshoot = pd.read_excel('data/tracking/withPos_0_2013-2022_catch-shoot_player_data copy.xlsx')
catchshoot = catchshoot.drop(catchshoot.index[catchshoot['3P%'] == '-'])
catchshoot = catchshoot.drop(catchshoot.index[catchshoot['eFG%'] == '-'])
catchshoot['3P%'] = catchshoot['3P%'].astype(np.float64)
catchshoot['eFG%'] = catchshoot['eFG%'].astype(np.float64)
catchshoot

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Player,Team,GP,MIN,PTS,FGM,FGA,...,3PM,3PA,3P%,eFG%,season,PLAYER,player_name,primary_position,height_inches,wingspan_inches
0,0,1,1,AJ Price,MIN,28,3.5,0.5,0.2,0.5,...,0.2,0.4,41.7,50.0,2013,AJ Price,NaN,NaN,NaN,NaN
1,4,2,2,Aaron Brooks,DEN,72,21.6,2.7,0.9,2.1,...,0.9,2.0,44.2,64.8,2013,Aaron Brooks,A. Brooks,PG,70.00,76.00
2,10,3,3,Aaron Gray,SAC,37,9.6,0.4,0.2,0.3,...,0.0,0.0,0.0,72.7,2013,Aaron Gray,A. Gray,C,84.00,87.25
3,13,4,4,Adonis Thomas,PHI,6,6.3,0.5,0.2,1.2,...,0.2,0.7,25.0,21.4,2013,Adonis Thomas,A. Thomas,SF,76.75,85.00
4,14,5,5,Al Harrington,WAS,34,15.0,3.1,1.1,2.9,...,0.9,2.7,34.8,52.5,2013,Al Harrington,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4733,31961,601,601,Zach LaVine,CHI,67,34.7,3.7,1.3,2.8,...,1.2,2.6,46.0,67.1,2021,Zach LaVine,Z. LaVine,PG,76.50,80.25
4734,31969,602,602,Zavier Simpson,OKC,4,43.5,0.8,0.3,1.0,...,0.3,1.0,25.0,37.5,2021,Zavier Simpson,NaN,NaN,NaN,NaN
4735,31970,603,603,Zeke Nnaji,DEN,41,17.0,2.9,1.0,2.2,...,0.9,2.0,46.3,66.1,2021,Zeke Nnaji,Z. Nnaji,PF,81.25,86.00
4736,31972,604,604,Ziaire Williams,MEM,62,21.7,3.5,1.2,3.5,...,1.1,3.4,31.8,49.3,2021,Ziaire Williams,NaN,NaN,NaN,NaN
4737,31973,605,605,Zylan Cheatham,UTA,1,5.2,0.0,0.0,2.0,...,0.0,2.0,0.0,0.0,2021,Zylan Cheatham,NaN,NaN,NaN,NaN

In [115]:
sd = pd.read_excel('data/tracking/0_2013-2022_speed_distance_player_data.xlsx')
sd.dtypes

Unnamed: 0           int64
Unnamed: 0.1         int64
Player              object
Team                object
GP                   int64
W                    int64
L                    int64
MIN                float64
Dist. Feet         float64
Dist. Miles        float64
Dist. Miles Off    float64
Dist. Miles Def    float64
Avg Speed          float64
Avg Speed Off      float64
Avg Speed Def      float64
season               int64
dtype: object

In [117]:
list(sd.columns)

['Unnamed: 0',
 'Unnamed: 0.1',
 'Player',
 'Team',
 'GP',
 'W',
 'L',
 'MIN',
 'Dist.\xa0Feet',
 'Dist.\xa0Miles',
 'Dist.\xa0Miles\xa0Off',
 'Dist.\xa0Miles\xa0Def',
 'Avg\xa0Speed',
 'Avg\xa0Speed\xa0Off',
 'Avg\xa0Speed\xa0Def',
 'season']

In [120]:
player_position = 'SG'

In [121]:
sd = pd.read_excel('data/tracking/withPos_0_2013-2022_speed_distance_player_data.xlsx')


#Get average position data
average_position_sd = sd.loc[sd['primary_position'] == player_position]
average_position_sd = average_position_sd.loc[average_position_sd['MIN'] >=15]

In [122]:
average_position_sd

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Player,Team,GP,W,L,MIN,Dist. Feet,...,Dist. Miles Def,Avg Speed,Avg Speed Off,Avg Speed Def,season,PLAYER,player_name,primary_position,height_inches,wingspan_inches
8,55,9,9,Alan Anderson,BKN,77,42,35,22.7,8032.8,...,0.74,4.04,4.10,3.99,2013,Alan Anderson,A. Anderson,SG,76.50,81.50
9,61,10,10,Alec Burks,UTA,78,24,54,28.1,10595.5,...,0.91,4.30,4.50,4.09,2013,Alec Burks,A. Burks,SG,77.00,82.00
41,252,42,42,Austin Rivers,NOP,69,27,42,19.4,7177.3,...,0.60,4.21,4.58,3.82,2013,Austin Rivers,A. Rivers,SG,75.50,79.25
42,262,43,43,Avery Bradley,BOS,60,19,41,30.9,11939.9,...,1.08,4.39,4.58,4.20,2013,Avery Bradley,A. Bradley,SG,74.00,79.25
44,288,45,45,Ben McLemore,SAC,81,28,53,26.8,10704.3,...,0.93,4.55,4.81,4.28,2013,Ben McLemore,B. McLemore,SG,75.50,79.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4677,31697,547,547,Tim Hardaway Jr.,DAL,42,24,18,29.6,11143.0,...,0.96,3.99,4.26,3.72,2021,Tim Hardaway Jr.,T. Hardaway Jr.,SG,76.50,79.00
4702,31814,572,572,Tyler Herro,MIA,66,44,22,32.6,13382.0,...,1.13,4.35,4.77,3.92,2021,Tyler Herro,T. Herro,SG,76.50,75.25
4714,31860,583,583,Victor Oladipo,MIA,8,4,4,21.6,8411.8,...,0.74,4.12,4.66,3.64,2021,Victor Oladipo,V. Oladipo,SG,75.25,81.25
4717,31873,586,586,Wayne Ellington,LAL,43,15,28,18.8,7517.2,...,0.67,4.23,4.48,3.97,2021,Wayne Ellington,W. Ellington,SG,76.25,78.50
4723,31922,592,592,Will Barton,DEN,71,41,30,32.1,12185.3,...,1.07,4.11,4.35,3.86,2021,Will Barton,W. Barton,SG,77.00,81.75

In [123]:
buncha_stats = pd.read_excel('data/merged_v3_with_photos.xlsx')
buncha_stats

,Unnamed: 0,Player,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,...,2pt_2-4_2PA,2pt_2-4_FG%,PLAYER,player_name,primary_position,height_inches,wingspan_inches,weight_lbs,id,path
0,0,Dwight Powell,DAL,30,82,52,30,21.9,113.2,110.6,...,3.0,70.7,Dwight Powell,D. Powell,PF,81.50,84.50,234.4,203939,player_photos/203939.png
1,1,Alec Burks,NYK,30,81,37,44,28.6,110.3,108.1,...,2.5,36.5,Alec Burks,A. Burks,SG,77.00,82.00,192.6,202692,player_photos/202692.png
2,2,Buddy Hield,IND,29,81,26,55,30.8,111.4,115.1,...,2.4,46.9,Buddy Hield,B. Hield,SG,75.75,81.25,212.4,1627741,player_photos/1627741.png
3,3,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,...,1.0,43.4,Patty Mills,P. Mills,PG,71.20,74.00,175.4,201988,player_photos/201988.png
4,4,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,...,1.0,43.4,Patty Mills,P. Mills,PG,71.20,74.00,175.4,201988,player_photos/201988.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2581,2581,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,1.3,75,Tony Mitchell,T. Mitchell,SG,77.25,82.00,216.4,203502,player_photos/203502.png
2582,2582,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,0.1,100,Tony Mitchell,T. Mitchell,PF,79.50,86.50,236.4,203183,player_photos/203183.png
2583,2583,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,0.1,100,Tony Mitchell,T. Mitchell,PF,79.50,86.50,236.4,203502,player_photos/203502.png
2584,2584,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,0.1,100,Tony Mitchell,T. Mitchell,SG,77.25,82.00,216.4,203183,player_photos/203183.png
2585,2585,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,0.1,100,Tony Mitchell,T. Mitchell,SG,77.25,82.00,216.4,203502,player_photos/203502.png

# Functions

In [2]:
def player_df(df, cols_to_keep):
    data = df
    data = data.loc[data['Player'] == player]
    data = data.sort_values('season', ascending = False)
    data = data[cols_to_keep]
    return data

def player_position_avg(df):
    data = df
    data = data.loc[data['player_position'] == player_position]
    data = data.loc[data['season'] == 2021]
    data = data.loc[data['MIN'] >= 15]
    return data

#player position scatter plot
def plot_pps(avg_position_df, x, y, title, xlabel, ylabel, player_df):
    fig, ax = plt.subplots(figsize=(8, 6), dpi=200)
    ax.scatter(avg_position_df[x], avg_position_df[y])
    plt.tick_params(axis='x', labelsize=12, color='#ccc8c8')
    plt.tick_params(axis='y', labelsize=12, color='#ccc8c8')
    plt.title(title, size = 22, fontweight='bold')
    ab = AnnotationBbox(getImage(player_image),(player_df[x], player_df[y]))
    ax.add_artist(ab)
    plt.ylabel(ylabel, size = 14)
    plt.xlabel(xlabel, size = 14)
    st.pyplot(fig)

In [9]:
player = 'Anfernee Simons'
player_position = 'SG'

In [5]:
keep = ['season', 'Player', 'Avg\xa0Speed','Avg\xa0Speed\xa0Off','Avg\xa0Speed\xa0Def', 'Dist.\xa0Miles']
sd = pd.read_excel('data/tracking/withPos_0_2013-2022_speed_distance_player_data.xlsx')
sd2 = player_df(sd, keep)
sd2

,season,Player,Avg Speed,Avg Speed Off,Avg Speed Def,Dist. Miles
4141,2021,Anfernee Simons,4.21,4.54,3.88,2.22
3587,2020,Anfernee Simons,4.33,4.57,4.08,1.32
3048,2019,Anfernee Simons,4.40,4.68,4.12,1.63
2513,2018,Anfernee Simons,4.35,4.55,4.12,0.55

In [6]:

selected_player_21 = sd2.loc[sd2['season'] == 2021]            # Player Most Recent Year

selected_player_21

,season,Player,Avg Speed,Avg Speed Off,Avg Speed Def,Dist. Miles
4141,2021,Anfernee Simons,4.21,4.54,3.88,2.22

In [ ]:
plot_pps(sd_avg, 'season', 'Avg\xa0Speed\xa0Off', 'Avg\xa0Speed\xa0Def', 'Average Speed', 'Season', selected_player_21)

In [35]:
df = pd.read_excel('data/merged_v3_with_photos.xlsx')

In [43]:
y = 'season'

In [44]:
data = df
data = data.replace({'-','NaN'})
pos_avg = data.loc[data['season'] >= 2021]
pos_avg = pos_avg.loc[pos_avg['MIN'] >= 15]
pos_avg = pos_avg.loc[pos_avg['primary_position']== player_position]
pos_average = pos_avg[y].mean()
pos_std = pos_avg[y].std()
up_std = pos_average + pos_std
player_data = data.loc[data['Player'] == player]
player_data

,Unnamed: 0,Player,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,...,2pt_2-4_2PA,2pt_2-4_FG%,PLAYER,player_name,primary_position,height_inches,wingspan_inches,weight_lbs,id,path
125,125,Anfernee Simons,POR,23,57,25,32,29.5,110.5,112.9,...,3.9,49.3,Anfernee Simons,A. Simons,SG,74.25,81.25,183.2,1629014,player_photos/1629014.png
339,339,Anfernee Simons,POR,22,64,37,27,17.3,115.2,114.4,...,1.1,38.4,Anfernee Simons,A. Simons,SG,74.25,81.25,183.2,1629014,player_photos/1629014.png
608,608,Anfernee Simons,POR,21,70,32,38,20.7,105.9,113.4,...,2.6,39.5,Anfernee Simons,A. Simons,SG,74.25,81.25,183.2,1629014,player_photos/1629014.png
1172,1172,Anfernee Simons,POR,20,20,17,3,7.0,104.5,122.1,...,0.7,64.3,Anfernee Simons,A. Simons,SG,74.25,81.25,183.2,1629014,player_photos/1629014.png

In [26]:

up_std = pos_average + pos_std_3pt_pct
player_data = data.loc[data['Player'] == player]
    # plot
fig, ax= plt.subplots(figsize=(8, 6), dpi=200)
plt.bar(df[season], df[y])
plt.hlines(pos_average, xmin = min(player_data["season"]), xmax =max(player_data["season"]),  color='#c2c1c0', linestyles='dashed')
plt.hlines(up_std, xmin = min(player_data["season"]), xmax =max(player_data["season"]),  color='#c2c1c0', linestyles='dashed')
plt.xticks(np.arange(min(player_data["season"]),max(player_data["season"]+1),1))
plt.xlabel('Season')
plt.ylabel(ylabel)
plt.title(chart_title, weight= 'bold')
fig.text(.15,.65,'Positional Average', size=10, color='#42241f')
st.pyplot(fig)

C:\Users\tmcro\AppData\Local\Temp/ipykernel_41320/4246212366.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pos_average = pos_avg.mean()
C:\Users\tmcro\AppData\Local\Temp/ipykernel_41320/4246212366.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pos_std = pos_avg.std()

NameError: name 'y' is not defined

In [ ]:
player_barChart_w_averageLine(buncha_stats, 'season', 'Total_Open_3P%', 'Open 3pt Shooting by Year', 'Open 3pt%')

In [ ]:
buncha_stats = pd.read_excel('data/merged_v3_with_photos.xlsx')
list(buncha_stats.columns)

In [21]:
player_position = 'PF'

In [ ]:
sizeAdvanced_df = pd.read_excel('data/player_adv_2011-2022_and_sizes.xlsx')
recent_df = sizeAdvanced_df.loc[sizeAdvanced_df['season'] == 2021]
recent_df = recent_df.loc[recent_df['primary_position']== player_position]
recent_df = recent_df.loc[recent_df['weight_lbs']!= '-']
recent_df = recent_df.loc[recent_df['MIN'] >= 15]
recent_df = recent_df.drop_duplicates()
recent_df['height_decile'] = pd.qcut(recent_df['height_inches'], 10, labels = False)
recent_df['wingspan_decile'] = pd.qcut(recent_df['wingspan_inches'], 10, labels = False)
recent_df

In [ ]:
recent_df = recent_df.sort_values(by=['PLAYER'], ascending=True)
recent_df

In [24]:
player = 'Aaron Gordon'

In [25]:

player_height_decile = recent_df.loc[recent_df['PLAYER']== player]['height_decile'].values[0]
player_wingspan_decile = recent_df.loc[recent_df['PLAYER']== player]['wingspan_decile'].values[0]

In [26]:
player_height_decile

2

# Add To Big Dataframe

In [31]:
data = pd.read_excel('data/merged_v3_with_photos.xlsx')
data = data.replace({'-','NaN'})
data

,Unnamed: 0,Player,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,...,2pt_2-4_2PA,2pt_2-4_FG%,PLAYER,player_name,primary_position,height_inches,wingspan_inches,weight_lbs,id,path
0,0,Dwight Powell,DAL,30,82,52,30,21.9,113.2,110.6,...,3.0,70.7,Dwight Powell,D. Powell,PF,81.50,84.50,234.4,203939,player_photos/203939.png
1,1,Alec Burks,NYK,30,81,37,44,28.6,110.3,108.1,...,2.5,36.5,Alec Burks,A. Burks,SG,77.00,82.00,192.6,202692,player_photos/202692.png
2,2,Buddy Hield,IND,29,81,26,55,30.8,111.4,115.1,...,2.4,46.9,Buddy Hield,B. Hield,SG,75.75,81.25,212.4,1627741,player_photos/1627741.png
3,3,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,...,1.0,43.4,Patty Mills,P. Mills,PG,71.20,74.00,175.4,201988,player_photos/201988.png
4,4,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,...,1.0,43.4,Patty Mills,P. Mills,PG,71.20,74.00,175.4,201988,player_photos/201988.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2581,2581,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,1.3,75,Tony Mitchell,T. Mitchell,SG,77.25,82.00,216.4,203502,player_photos/203502.png
2582,2582,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,0.1,100,Tony Mitchell,T. Mitchell,PF,79.50,86.50,236.4,203183,player_photos/203183.png
2583,2583,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,0.1,100,Tony Mitchell,T. Mitchell,PF,79.50,86.50,236.4,203502,player_photos/203502.png
2584,2584,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,0.1,100,Tony Mitchell,T. Mitchell,SG,77.25,82.00,216.4,203183,player_photos/203183.png
2585,2585,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,0.1,100,Tony Mitchell,T. Mitchell,SG,77.25,82.00,216.4,203502,player_photos/203502.png

In [ ]:
catchshoot = pd.read_excel('data/tracking/withPos_0_2013-2022_catch-shoot_player_data copy.xlsx')
catchshoot = catchshoot.drop(catchshoot.index[catchshoot['3P%'] == '-'])
catchshoot = catchshoot.drop(catchshoot.index[catchshoot['eFG%'] == '-'])
catchshoot['3P%'] = catchshoot['3P%'].astype(np.float64)
catchshoot['eFG%'] = catchshoot['eFG%'].astype(np.float64)

keep= ['season','Player', '3P%','eFG%']

catchshoot2 = catchshoot[keep]
catchshoot2 = catchshoot2.rename(columns = {'3P%':'CatchAndShoot_3P%', 'eFG%':'CatchAndShoot_eFG%'})
catchshoot2

In [48]:
new_data = pd.merge(data, catchshoot2, on=['season','Player'], how = 'left')
new_data = new_data.drop_duplicates()
new_data

,Unnamed: 0,Player,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,...,PLAYER,player_name,primary_position,height_inches,wingspan_inches,weight_lbs,id,path,CatchAndShoot_3P%,CatchAndShoot_eFG%
0,0,Dwight Powell,DAL,30,82,52,30,21.9,113.2,110.6,...,Dwight Powell,D. Powell,PF,81.50,84.50,234.4,203939,player_photos/203939.png,37.5,43.2
1,1,Alec Burks,NYK,30,81,37,44,28.6,110.3,108.1,...,Alec Burks,A. Burks,SG,77.00,82.00,192.6,202692,player_photos/202692.png,41.8,61.7
2,2,Buddy Hield,IND,29,81,26,55,30.8,111.4,115.1,...,Buddy Hield,B. Hield,SG,75.75,81.25,212.4,1627741,player_photos/1627741.png,39.1,58.1
3,3,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,...,Patty Mills,P. Mills,PG,71.20,74.00,175.4,201988,player_photos/201988.png,42.2,63.2
4,4,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,...,Patty Mills,P. Mills,PG,71.20,74.00,175.4,201988,player_photos/201988.png,42.2,63.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2700,2581,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,Tony Mitchell,T. Mitchell,SG,77.25,82.00,216.4,203502,player_photos/203502.png,100.0,50.0
2702,2582,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,Tony Mitchell,T. Mitchell,PF,79.50,86.50,236.4,203183,player_photos/203183.png,100.0,50.0
2704,2583,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,Tony Mitchell,T. Mitchell,PF,79.50,86.50,236.4,203502,player_photos/203502.png,100.0,50.0
2706,2584,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,Tony Mitchell,T. Mitchell,SG,77.25,82.00,216.4,203183,player_photos/203183.png,100.0,50.0
2708,2585,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,Tony Mitchell,T. Mitchell,SG,77.25,82.00,216.4,203502,player_photos/203502.png,100.0,50.0

In [49]:
overall_d = pd.read_excel('data/tracking/withPos_0_2013-2022_defensive-impact_player_data.xlsx')
overall_d = overall_d.drop(overall_d.index[overall_d['DFG%'] == '-'])
overall_d['DFG%'] = overall_d['DFG%'].astype(np.float64)
overall_d = overall_d.drop(overall_d.index[overall_d['DFGA'] == '-'])
overall_d['DFGA'] = overall_d['DFGA'].astype(np.float64)

to_keep = ['season', 'Player', 'DFG%', 'DFGA']

overall_d2 = overall_d[to_keep]
overall_d2 = overall_d2.rename(columns = {'DFG%':'Overall_DFG%', 'DFGA':'Overall_DFGA'})
overall_d2

      season           Player  Overall_DFG%  Overall_DFGA
0       2013         AJ Price          75.0           0.1
1       2013     Aaron Brooks          69.0           1.4
2       2013       Aaron Gray          71.1           1.3
3       2013    Adonis Thomas          50.0           0.3
4       2013    Al Harrington          74.5           1.4
...      ...              ...           ...           ...
4733    2021      Zach LaVine          66.9           1.9
4734    2021   Zavier Simpson          75.0           3.0
4735    2021       Zeke Nnaji          65.5           2.1
4736    2021  Ziaire Williams          76.1           1.5
4737    2021   Zylan Cheatham         100.0           1.0

[4738 rows x 4 columns]

In [50]:
new_data2 = pd.merge(new_data, overall_d2, on=['season','Player'], how = 'left')
new_data2 = new_data2.drop_duplicates()
new_data2

,Unnamed: 0,Player,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,...,primary_position,height_inches,wingspan_inches,weight_lbs,id,path,CatchAndShoot_3P%,CatchAndShoot_eFG%,Overall_DFG%,Overall_DFGA
0,0,Dwight Powell,DAL,30,82,52,30,21.9,113.2,110.6,...,PF,81.50,84.50,234.4,203939,player_photos/203939.png,37.5,43.2,62.7,3.8
1,1,Alec Burks,NYK,30,81,37,44,28.6,110.3,108.1,...,SG,77.00,82.00,192.6,202692,player_photos/202692.png,41.8,61.7,69.8,2.5
2,2,Buddy Hield,IND,29,81,26,55,30.8,111.4,115.1,...,SG,75.75,81.25,212.4,1627741,player_photos/1627741.png,39.1,58.1,71.8,3.9
3,3,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,...,PG,71.20,74.00,175.4,201988,player_photos/201988.png,42.2,63.2,77.4,1.1
4,4,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,...,PG,71.20,74.00,175.4,201988,player_photos/201988.png,42.2,63.2,77.4,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,2583,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,PF,79.50,86.50,236.4,203502,player_photos/203502.png,100.0,50.0,76.9,0.6
2766,2584,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,SG,77.25,82.00,216.4,203183,player_photos/203183.png,100.0,50.0,0.0,0.0
2768,2584,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,SG,77.25,82.00,216.4,203183,player_photos/203183.png,100.0,50.0,76.9,0.6
2770,2585,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,SG,77.25,82.00,216.4,203502,player_photos/203502.png,100.0,50.0,0.0,0.0
2772,2585,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,...,SG,77.25,82.00,216.4,203502,player_photos/203502.png,100.0,50.0,76.9,0.6

In [59]:
todrop = ['Unnamed: 0', 'Unnamed: 0_x_x', 'Unnamed: 0_y_x', 'Unnamed: 0_x_y', 'Unnamed: 0_y_y']
new_data2 = new_data2.drop(columns = todrop)
new_data2

,Player,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,NETRTG,...,primary_position,height_inches,wingspan_inches,weight_lbs,id,path,CatchAndShoot_3P%,CatchAndShoot_eFG%,Overall_DFG%,Overall_DFGA
0,Dwight Powell,DAL,30,82,52,30,21.9,113.2,110.6,2.5,...,PF,81.50,84.50,234.4,203939,player_photos/203939.png,37.5,43.2,62.7,3.8
1,Alec Burks,NYK,30,81,37,44,28.6,110.3,108.1,2.3,...,SG,77.00,82.00,192.6,202692,player_photos/202692.png,41.8,61.7,69.8,2.5
2,Buddy Hield,IND,29,81,26,55,30.8,111.4,115.1,-3.6,...,SG,75.75,81.25,212.4,1627741,player_photos/1627741.png,39.1,58.1,71.8,3.9
3,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,1.5,...,PG,71.20,74.00,175.4,201988,player_photos/201988.png,42.2,63.2,77.4,1.1
4,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,1.5,...,PG,71.20,74.00,175.4,201988,player_photos/201988.png,42.2,63.2,77.4,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,11.1,...,PF,79.50,86.50,236.4,203502,player_photos/203502.png,100.0,50.0,76.9,0.6
2766,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,11.1,...,SG,77.25,82.00,216.4,203183,player_photos/203183.png,100.0,50.0,0.0,0.0
2768,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,11.1,...,SG,77.25,82.00,216.4,203183,player_photos/203183.png,100.0,50.0,76.9,0.6
2770,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,11.1,...,SG,77.25,82.00,216.4,203502,player_photos/203502.png,100.0,50.0,0.0,0.0
2772,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,11.1,...,SG,77.25,82.00,216.4,203502,player_photos/203502.png,100.0,50.0,76.9,0.6

In [61]:
sd = pd.read_excel('data/tracking/withPos_0_2013-2022_speed_distance_player_data.xlsx')
keep = ['season', 'Player', 'Avg\xa0Speed','Avg\xa0Speed\xa0Off','Avg\xa0Speed\xa0Def', 'Dist.\xa0Miles']

sd_new = sd[keep]
sd_new = sd_new.rename(columns = {'Avg\xa0Speed':'Speed_Avg', 'Avg\xa0Speed\xa0Off':'Speed_Avg_Off', 'Avg\xa0Speed\xa0Def':'Speed_Avg_Def', 'Dist.\xa0Miles':'Distance_Miles'})
sd_new

,season,Player,Speed_Avg,Speed_Avg_Off,Speed_Avg_Def,Distance_Miles
0,2013,AJ Price,4.37,4.62,3.96,0.26
1,2013,Aaron Brooks,4.23,4.49,3.99,1.52
2,2013,Aaron Gray,4.23,4.49,3.91,0.68
3,2013,Adonis Thomas,4.64,5.21,4.16,0.48
4,2013,Al Harrington,4.00,4.19,3.80,1.00
...,...,...,...,...,...,...
4732,2021,Zach LaVine,4.21,4.61,3.82,2.55
4733,2021,Zavier Simpson,4.10,4.41,3.77,3.14
4734,2021,Zeke Nnaji,4.30,4.52,4.07,1.31
4735,2021,Ziaire Williams,4.15,4.28,4.01,1.57
4736,2021,Zylan Cheatham,4.34,5.34,3.66,0.42

In [62]:
new_data3 = pd.merge(new_data2, sd_new, on=['season','Player'], how = 'left')
new_data3 = new_data3.drop_duplicates()
new_data3

,Player,TEAM,AGE,GP,W,L,MIN,OFFRTG,DEFRTG,NETRTG,...,id,path,CatchAndShoot_3P%,CatchAndShoot_eFG%,Overall_DFG%,Overall_DFGA,Speed_Avg,Speed_Avg_Off,Speed_Avg_Def,Distance_Miles
0,Dwight Powell,DAL,30,82,52,30,21.9,113.2,110.6,2.5,...,203939,player_photos/203939.png,37.5,43.2,62.7,3.8,4.29,4.46,4.11,1.66
1,Alec Burks,NYK,30,81,37,44,28.6,110.3,108.1,2.3,...,202692,player_photos/202692.png,41.8,61.7,69.8,2.5,4.05,4.19,3.90,2.06
2,Buddy Hield,IND,29,81,26,55,30.8,111.4,115.1,-3.6,...,1627741,player_photos/1627741.png,39.1,58.1,71.8,3.9,4.36,4.75,3.99,2.40
3,Patty Mills,BKN,33,81,44,37,29.0,112.3,110.7,1.5,...,201988,player_photos/201988.png,42.2,63.2,77.4,1.1,4.36,4.65,4.06,2.22
5,Terance Mann,LAC,25,81,41,40,28.6,108.6,107.1,1.5,...,1629611,player_photos/1629611.png,41.3,60.6,64.4,2.7,4.25,4.43,4.06,2.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2892,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,11.1,...,203183,player_photos/203183.png,100.0,50.0,76.9,0.6,4.02,4.21,3.84,0.25
2894,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,11.1,...,203502,player_photos/203502.png,100.0,50.0,0.0,0.0,4.31,5.29,3.45,0.23
2896,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,11.1,...,203502,player_photos/203502.png,100.0,50.0,0.0,0.0,4.02,4.21,3.84,0.25
2898,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,11.1,...,203502,player_photos/203502.png,100.0,50.0,76.9,0.6,4.31,5.29,3.45,0.23
2900,Tony Mitchell,MIL,24,3,0,3,3.3,122.2,111.1,11.1,...,203502,player_photos/203502.png,100.0,50.0,76.9,0.6,4.02,4.21,3.84,0.25

In [63]:
new_data3.to_excel('All_Player_Data_asofJuly5.xlsx')